:root
  --primary-color #1890ff
  --primary-color-disabled #d9f7be
  --primary-color-hover #40a9ff
  --primary-color-active #096dd9
  --primary-color-outline rgba(24, 144, 255, .2)
  --primary-color-deprecated-bg #d9f7be
  --primary-color-deprecated-border #95de64