:root
  --primary-color rgb(82, 196, 26)
  --primary-color-disabled #d9f7be
  --primary-color-hover #73d13d
  --primary-color-active #237804
  --primary-color-outline rgba(82, 196, 26, 0.2)
  --primary-color-deprecated-bg #d9f7be
  --primary-color-deprecated-border #95de64
